# dependencies
node_modules/

# next.js
.next/
out/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
.pnpm-debug.*
.next-dev.*.log

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# vercel
.vercel/

# typescript / eslint
*.tsbuildinfo
.eslintcache
